

/* navbar */
.navbar {
    position: relative;
   
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-b {
    position: fixed;
    height: 90px;
    width: 100%;
    z-index: 1;
}



.name-logo {
    position: absolute;
    color: white;
    font-size: 25px;
    top: 30%;
    left: 11.5%;
}

.link-nav {
    position: absolute;
    top: 35%;
    left: 73%;

}

.nav-item {
    color: white;
    font-size: 16px;
    padding-left: 20px;

}

.nav-mail {
    position: absolute;
    background-color: white;
    top: -30%;
    left: 105%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.i-mail {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20%;
    left: 20%;

}

/* carousel */
.Carousel-img {
    width: 100%;
    max-height: 800px;
}

.carousel-con {
    position: relative;

}

.carousel-number-container {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.carousel-number {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.carousel-number:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
}

.carousel-number.active {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    max-height: 30%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

/* about */


div.about-image img {
    height: 100%;
    width: 100%;
    
    object-fit: cover;
}

.about-text h2 {
    padding-top: 50px;
    padding-left: 30px;
}

.about-text p {
    padding-left: 30px;
    text-indent: 30px;
}

/* category */


.tab-container{
  
}

.tab {
    overflow: hidden;
    
    background-color: #f1f1f1;
    margin-bottom: 15px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    max-width: 1200px;
    padding: 6px 12px;
   
}

.tabcontent img{
    max-width: 100%;
    max-height: 100%;
}

/* blog */
.blog{
    border: 1px solid #dadee2;
    padding: 10px;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.blog:hover{
    transform: scale(1.1);
}

.indent{
    text-indent: 30px;
}